.best-seller-section {
  background: #fff;
  padding: 60px 20px;
  text-align: center;
}

.section-title {
  font-family: "paytone one", serif;
  font-size: 1.8rem;
  margin-bottom: 40px;
  color: #222;
}

.best-seller-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  row-gap: 80px;
  max-width: 800px;
  margin: 0 auto;
}

.best-seller-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.image-wrapper {
  width: 100%;
  aspect-ratio: 3 / 3;
  border-radius: 10px;
  background-color: #b0b0b0;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.best-seller-card h3 {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #111;
  font-family: sans-serif;
}

.more-btn {
  background: transparent;
  border: 1px solid #000;
  padding: 6px 14px;
  border-radius: 999px;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.more-btn:hover {
  background: #000;
  color: #fff;
}

/* Responsive */
@media (max-width: 1024px) {
  .best-seller-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .best-seller-grid {
    grid-template-columns: 1fr;
  }
}

.product-description p {
  font-size: 12px;
  text-align: left;
}
