.contact-form {
    display: flex;
    align-items: flex-start;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
    gap: 40px;
    margin-top: 80px;
}

.form-container {
    background-color: #cccccc;
    padding: 20px;
    border-radius: 50px;
    width: 60%;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    padding-bottom: 80px;
    margin-bottom: 64px;
}

.form-group label {
    visibility: hidden;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.input-text,
.input-textarea {
    width: 100%;
    padding: 12px 20px;
    border-radius: 40px;
    font-size: 14px;
    border: 1px solid black;
    color: #333;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
}

/* Placeholder styling for all inputs and textarea */
.input-text::placeholder,
.input-textarea::placeholder {
    color: #888;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    opacity: 1;
}

.input-text::-webkit-input-placeholder,
.input-textarea::-webkit-input-placeholder {
    color: #888;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    opacity: 1;
}

.input-text::-moz-placeholder,
.input-textarea::-moz-placeholder {
    color: #888;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    opacity: 1;
}

.input-text:-ms-input-placeholder,
.input-textarea:-ms-input-placeholder {
    color: #888;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    opacity: 1;
}

.input-textarea {
    resize: vertical;
    height: 100px;
}

.submit-btn {
    background-color: #666;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100px;
    justify-self: center;
    align-self: center;
}

.submit-btn:hover {
    background-color: #555;
}

.custom-dropdown {
    position: relative;
    width: 100%;
}

.custom-dropdown img {
    position: absolute;
    right: 20px;
}

.dropdown-header {
    padding: 12px 20px;
    border-radius: 40px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    background-color: #fff;
    border: 1px solid black;
    color: #333;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
}

.dropdown-header:hover {
    background-color: #f0f0f0;
}

.dropdown-list {
    position: absolute;
    top: calc(100% - 18px);
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 150px;
    overflow-y: auto;
    z-index: 10;
    list-style-type: none;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
}

.dropdown-item {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    color: #333;
    font-weight: 500;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.placeholder {
    color: #888;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    gap: 32px;
}

.contact-item {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
}

.contact-item p {
    margin: 0;
}

.contact-item .contact-title {
    font-weight: 600;
    font-family: "roboto", sans-serif;
}

.contact-value {
    color: #5c5c5c;
}

@media (max-width: 678px) {
    .contact-form {
        flex-direction: column;
        align-items: center;
    }

    .form-container {
        width: 100%;
    }

    .contact-info {
        width: 100%;
    }
}