.competition-banner {
  width: 100%;
  height: 600px;
  margin-top: -140px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 48px;
  padding-top: 48px;
}

.competition-banner h1 {
  font-family: 'anton', sans-serif;
  font-weight: 400;
  font-size: 48px;
  margin: 0;
  text-align: left;
}


.competition-banner p {
  font-family: 'space grotesk', sans-serif;
  text-align: left;
  font-size: 12px;
  margin-top: 24px;
}

.year-list {
  width: 90%;
  max-width: 1280px;
  display: flex;
  justify-self: center;
  align-items: center;
  justify-content: space-evenly;
  background-color: #d9d9d9;
  margin-top: 32px;
  height: 60px;
  padding-bottom: 4px;
}

.year-list p {
  padding-bottom: 4px;
  width: auto;
  position: relative;
}

.divider {
  position: absolute;
  bottom: 0;
  left: -10%;
  right: 0;
  height: 1px;
  width: 120%;
  background-color: #000000;
}

.finalists-road {
  max-width: 900px;
  justify-self: center;
  margin-top: 80px;
}

.finalists-road h1 {
  font-family: "paytone one", sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 48px;
}

.finalists-road p {
  font-size: 13px;
}

.finalists-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  max-width: 900px;
  justify-self: center;
  margin-top: 48px;
}

.finalists-item {
  width: calc(33% - 24px);
  position: relative;
}

.finalists-item img {
  width: 100%;
  transition: transform 0.3s ease;
}

.finalists-item img:hover {
  transform: scale(1.1);
}

.finalists-item img:last-child {
  margin-top: 16px;
}

.finalists-item-title {
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0;
  font-weight: 700;
  color: white;
}

.finalist-arrows {
  display: flex;
  justify-content: center;
  margin: 48px 0;
  gap: 150px;
  margin-top: 150px;
}

.finalist-arrows img {
  width: 12px;
}

.thank-you-partners {
  max-width: 900px;
  justify-self: center;
  margin-top: 80px;
  font-family: "paytone one", sans-serif;
  font-weight: 400;
  width: 90%;
  margin-bottom: 48px;
}

.led-rte {
  width: 100%;
  max-width: 1000px;
  margin-bottom: 64px;
}

@media (max-width: 768px) {
  .competition-banner {
    height: 450px;
    padding-top: 80px;
  }

  .competition-banner h1 {
    font-size: 32px;
  }
}

@media (max-width: 480px) {
  .competition-banner {
    height: 400px;
    padding-top: 100px;
  }

  .competition-banner h1 {
    font-size: 30px;
  }

  .finalists-item {
    width: calc(50% - 32px);
  }

  .finalists-item-title {
    font-size: 13px;
    margin: 0 4px;
  }

  .thank-you-partners {
    font-size: 24px;
  }
}